<!--<app-continue></app-continue>-->
<div style="color: white;font-size: 30px;margin-left:15%;margin-top:5%"> Popular Movies</div>
<ngb-carousel style="margin-left: 15%;width: 70%;margin-right: 15%;">
<ng-template ngbSlide>
        <div class="img-group" style="width:12%;height:15%;">
          <img class="card-img-top zoom"   src="https://image.tmdb.org/t/p/w780/fev8UFNFFYsD5q7AcYS8LyTzqwl.jpg" alt="Card image cap" style="width:130px;height:150px;">
          <div class="img-tip">Tom and Jerry</div>
        </div>
        <div class="img-group" style="width:130px;height:150px;margin-top:10%;margin-left:4%;">
            <img class="card-img-top zoom" src="https://image.tmdb.org/t/p/w780/fev8UFNFFYsD5q7AcYS8LyTzqwl.jpg" alt="Card image cap" style="width:130px;height:150px;">
            <div class="img-tip">Tom and Jerry</div>
          </div>
          <div class="img-group" style="width:130px;height:150px;margin-top:10%;margin-left:4%">
            <img class="card-img-top zoom" src="https://image.tmdb.org/t/p/w780/fev8UFNFFYsD5q7AcYS8LyTzqwl.jpg" alt="Card image cap" style="width:130px;height:150px;">
            <div class="img-tip">Tom and Jerry</div>
          </div>
          <div class="img-group" style="width:130px;height:150px;margin-top:10%;margin-left:4%">
            <img class="card-img-top zoom" src="https://image.tmdb.org/t/p/w780/fev8UFNFFYsD5q7AcYS8LyTzqwl.jpg" alt="Card image cap" style="width:130px;height:150px;">
            <div class="img-tip">Tom and Jerry</div>
          </div>
          <div class="img-group" style="width:130px;height:150px;margin-top:10%;margin-left:4%">
            <img class="card-img-top zoom" src="https://image.tmdb.org/t/p/w780/fev8UFNFFYsD5q7AcYS8LyTzqwl.jpg" alt="Card image cap" style="width:130px;height:150px;">
            <div class="img-tip">Tom and Jerry</div>
          </div>
          <div class="img-group" style="width:130px;height:150px;margin-top:10%;margin-left:4%">
            <img class="card-img-top zoom" src="https://image.tmdb.org/t/p/w780/fev8UFNFFYsD5q7AcYS8LyTzqwl.jpg" alt="Card image cap" style="width:130px;height:150px;">
            <div class="img-tip">Tom and Jerry</div>
          </div>
  </ng-template>
  
  <ng-template ngbSlide>
    <div class="card-group">
        <div class="card" style="margin-left:10px;border-radius: 0px;">
          <img class="card-img-top" src="https://image.tmdb.org/t/p/w780/fev8UFNFFYsD5q7AcYS8LyTzqwl.jpg" alt="Card image cap" style="width:100%;height:180px">
        </div>
        <div class="card" style="margin-left: 10px;">
          <img  src="https://image.tmdb.org/t/p/w780/fev8UFNFFYsD5q7AcYS8LyTzqwl.jpg" style="height:180px">
        </div>
        <div class="card" style="margin-left: 10px;">
          <img class="card-img-top" src="https://image.tmdb.org/t/p/w780/fev8UFNFFYsD5q7AcYS8LyTzqwl.jpg" alt="Card image cap" style="height:180px">
        </div>
        <div class="card" style="margin-left: 10px;">
            <img class="card-img-top" src="https://image.tmdb.org/t/p/w780/fev8UFNFFYsD5q7AcYS8LyTzqwl.jpg" alt="Card image cap" style="height:180px">
          </div>
          <div class="card" style="margin-left: 10px;">
            <img class="card-img-top" src="https://image.tmdb.org/t/p/w780/fev8UFNFFYsD5q7AcYS8LyTzqwl.jpg" alt="Card image cap" style="height:180px">
          </div>
          <div class="card" style="margin-left: 10px;">
            <img class="card-img-top" src="https://image.tmdb.org/t/p/w780/fev8UFNFFYsD5q7AcYS8LyTzqwl.jpg" alt="Card image cap" style="height:180px">
          </div>
      </div>
  </ng-template>
  <ng-template ngbSlide>
    <div class="card-group">
        <div class="card" style="margin-left:10px;border-radius: 0px;">
          <img class="card-img-top" src="https://image.tmdb.org/t/p/w780/fev8UFNFFYsD5q7AcYS8LyTzqwl.jpg" alt="Card image cap" style="width:100%;height:180px">
        </div>
        <div class="card" style="margin-left: 10px;">
          <img  src="https://image.tmdb.org/t/p/w780/fev8UFNFFYsD5q7AcYS8LyTzqwl.jpg" style="height:180px">
        </div>
        <div class="card" style="margin-left: 10px;">
          <img class="card-img-top" src="https://image.tmdb.org/t/p/w780/fev8UFNFFYsD5q7AcYS8LyTzqwl.jpg" alt="Card image cap" style="height:180px">
        </div>
        <div class="card" style="margin-left: 10px;">
            <img class="card-img-top" src="https://image.tmdb.org/t/p/w780/fev8UFNFFYsD5q7AcYS8LyTzqwl.jpg" alt="Card image cap" style="height:180px">
          </div>
          <div class="card" style="margin-left: 10px;">
            <img class="card-img-top" src="https://image.tmdb.org/t/p/w780/fev8UFNFFYsD5q7AcYS8LyTzqwl.jpg" alt="Card image cap" style="height:180px">
          </div>
          <div class="card" style="margin-left: 10px;">
            <img class="card-img-top" src="https://image.tmdb.org/t/p/w780/fev8UFNFFYsD5q7AcYS8LyTzqwl.jpg" alt="Card image cap" style="height:180px">
          </div>
      </div>
  </ng-template>
  <ng-template ngbSlide>
    <div class="card-group">
        <div class="card" style="margin-left:10px;border-radius: 0px;">
          <img class="card-img-top" src="https://image.tmdb.org/t/p/w780/fev8UFNFFYsD5q7AcYS8LyTzqwl.jpg" alt="Card image cap" style="width:100%;height:180px">
        </div>
        <div class="card" style="margin-left: 10px;">
          <img  src="https://image.tmdb.org/t/p/w780/fev8UFNFFYsD5q7AcYS8LyTzqwl.jpg" style="height:180px">
        </div>
        <div class="card" style="margin-left: 10px;background-color: rgb(1, 1, 63);">
        </div>
        <div class="card" style="margin-left: 10px;background-color: rgb(1, 1, 63);">
          </div>
          <div class="card" style="margin-left: 10px;background-color: rgb(1, 1, 63);">
           </div>
          <div class="card" style="margin-left: 10px;background-color: rgb(1, 1, 63);">
          </div>
      </div>
  </ng-template>
</ngb-carousel>

<div style="color: white;font-size: 30px;margin-left:15%;margin-top:5%"> Top Rated Movies</div>
<ngb-carousel style="margin-left: 15%;width: 70%;margin-right: 15%;">
<ng-template ngbSlide>
    <div class="card-group">
        <div class="card" style="margin-left:10px;border-radius: 0px;">
          <img class="card-img-top" src="https://image.tmdb.org/t/p/w780/fev8UFNFFYsD5q7AcYS8LyTzqwl.jpg" alt="Card image cap" style="width:100%;height:180px">
        </div>
        <div class="card" style="margin-left: 10px;">
          <img  src="https://image.tmdb.org/t/p/w780/fev8UFNFFYsD5q7AcYS8LyTzqwl.jpg" style="height:180px">
        </div>
        <div class="card" style="margin-left: 10px;">
          <img class="card-img-top" src="https://image.tmdb.org/t/p/w780/fev8UFNFFYsD5q7AcYS8LyTzqwl.jpg" alt="Card image cap" style="height:180px">
        </div>
        <div class="card" style="margin-left: 10px;">
            <img class="card-img-top" src="https://image.tmdb.org/t/p/w780/fev8UFNFFYsD5q7AcYS8LyTzqwl.jpg" alt="Card image cap" style="height:180px">
          </div>
          <div class="card" style="margin-left: 10px;">
            <img class="card-img-top" src="https://image.tmdb.org/t/p/w780/fev8UFNFFYsD5q7AcYS8LyTzqwl.jpg" alt="Card image cap" style="height:180px">
          </div>
          <div class="card" style="margin-left: 10px;">
            <img class="card-img-top" src="https://image.tmdb.org/t/p/w780/fev8UFNFFYsD5q7AcYS8LyTzqwl.jpg" alt="Card image cap" style="height:180px">
          </div>
      </div>
  </ng-template>
  
  <ng-template ngbSlide>
    <div class="card-group">
        <div class="card" style="margin-left:10px;border-radius: 0px;">
          <img class="card-img-top" src="https://image.tmdb.org/t/p/w780/fev8UFNFFYsD5q7AcYS8LyTzqwl.jpg" alt="Card image cap" style="width:100%;height:180px">
        </div>
        <div class="card" style="margin-left: 10px;">
          <img  src="https://image.tmdb.org/t/p/w780/fev8UFNFFYsD5q7AcYS8LyTzqwl.jpg" style="height:180px">
        </div>
        <div class="card" style="margin-left: 10px;">
          <img class="card-img-top" src="https://image.tmdb.org/t/p/w780/fev8UFNFFYsD5q7AcYS8LyTzqwl.jpg" alt="Card image cap" style="height:180px">
        </div>
        <div class="card" style="margin-left: 10px;">
            <img class="card-img-top" src="https://image.tmdb.org/t/p/w780/fev8UFNFFYsD5q7AcYS8LyTzqwl.jpg" alt="Card image cap" style="height:180px">
          </div>
          <div class="card" style="margin-left: 10px;">
            <img class="card-img-top" src="https://image.tmdb.org/t/p/w780/fev8UFNFFYsD5q7AcYS8LyTzqwl.jpg" alt="Card image cap" style="height:180px">
          </div>
          <div class="card" style="margin-left: 10px;">
            <img class="card-img-top" src="https://image.tmdb.org/t/p/w780/fev8UFNFFYsD5q7AcYS8LyTzqwl.jpg" alt="Card image cap" style="height:180px">
          </div>
      </div>
  </ng-template>
  <ng-template ngbSlide>
    <div class="card-group">
        <div class="card" style="margin-left:10px;border-radius: 0px;">
          <img class="card-img-top" src="https://image.tmdb.org/t/p/w780/fev8UFNFFYsD5q7AcYS8LyTzqwl.jpg" alt="Card image cap" style="width:100%;height:180px">
        </div>
        <div class="card" style="margin-left: 10px;">
          <img  src="https://image.tmdb.org/t/p/w780/fev8UFNFFYsD5q7AcYS8LyTzqwl.jpg" style="height:180px">
        </div>
        <div class="card" style="margin-left: 10px;">
          <img class="card-img-top" src="https://image.tmdb.org/t/p/w780/fev8UFNFFYsD5q7AcYS8LyTzqwl.jpg" alt="Card image cap" style="height:180px">
        </div>
        <div class="card" style="margin-left: 10px;">
            <img class="card-img-top" src="https://image.tmdb.org/t/p/w780/fev8UFNFFYsD5q7AcYS8LyTzqwl.jpg" alt="Card image cap" style="height:180px">
          </div>
          <div class="card" style="margin-left: 10px;">
            <img class="card-img-top" src="https://image.tmdb.org/t/p/w780/fev8UFNFFYsD5q7AcYS8LyTzqwl.jpg" alt="Card image cap" style="height:180px">
          </div>
          <div class="card" style="margin-left: 10px;">
            <img class="card-img-top" src="https://image.tmdb.org/t/p/w780/fev8UFNFFYsD5q7AcYS8LyTzqwl.jpg" alt="Card image cap" style="height:180px">
          </div>
      </div>
  </ng-template>
  <ng-template ngbSlide>
    <div class="card-group">
        <div class="card" style="margin-left:10px;border-radius: 0px;">
          <img class="card-img-top" src="https://image.tmdb.org/t/p/w780/fev8UFNFFYsD5q7AcYS8LyTzqwl.jpg" alt="Card image cap" style="width:100%;height:180px">
        </div>
        <div class="card" style="margin-left: 10px;">
          <img  src="https://image.tmdb.org/t/p/w780/fev8UFNFFYsD5q7AcYS8LyTzqwl.jpg" style="height:180px">
        </div>
        <div class="card" style="margin-left: 10px;background-color: rgb(1, 1, 63);">
        </div>
        <div class="card" style="margin-left: 10px;background-color: rgb(1, 1, 63);">
          </div>
          <div class="card" style="margin-left: 10px;background-color: rgb(1, 1, 63);">
           </div>
          <div class="card" style="margin-left: 10px;background-color: rgb(1, 1, 63);">
          </div>
      </div>
  </ng-template>
</ngb-carousel>


<div style="color: white;font-size: 30px;margin-left:15%;margin-top:5%"> Trending Movies</div>
<ngb-carousel style="margin-left: 15%;width: 70%;margin-right: 15%;">
<ng-template ngbSlide>
    <div class="card-group">
        <div class="card" style="margin-left:10px;border-radius: 0px;">
          <img class="card-img-top" src="https://image.tmdb.org/t/p/w780/fev8UFNFFYsD5q7AcYS8LyTzqwl.jpg" alt="Card image cap" style="width:100%;height:180px">
        </div>
        <div class="card" style="margin-left: 10px;">
          <img  src="https://image.tmdb.org/t/p/w780/fev8UFNFFYsD5q7AcYS8LyTzqwl.jpg" style="height:180px">
        </div>
        <div class="card" style="margin-left: 10px;">
          <img class="card-img-top" src="https://image.tmdb.org/t/p/w780/fev8UFNFFYsD5q7AcYS8LyTzqwl.jpg" alt="Card image cap" style="height:180px">
        </div>
        <div class="card" style="margin-left: 10px;">
            <img class="card-img-top" src="https://image.tmdb.org/t/p/w780/fev8UFNFFYsD5q7AcYS8LyTzqwl.jpg" alt="Card image cap" style="height:180px">
          </div>
          <div class="card" style="margin-left: 10px;">
            <img class="card-img-top" src="https://image.tmdb.org/t/p/w780/fev8UFNFFYsD5q7AcYS8LyTzqwl.jpg" alt="Card image cap" style="height:180px">
          </div>
          <div class="card" style="margin-left: 10px;">
            <img class="card-img-top" src="https://image.tmdb.org/t/p/w780/fev8UFNFFYsD5q7AcYS8LyTzqwl.jpg" alt="Card image cap" style="height:180px">
          </div>
      </div>
  </ng-template>
  
  <ng-template ngbSlide>
    <div class="card-group">
        <div class="card" style="margin-left:10px;border-radius: 0px;">
          <img class="card-img-top" src="https://image.tmdb.org/t/p/w780/fev8UFNFFYsD5q7AcYS8LyTzqwl.jpg" alt="Card image cap" style="width:100%;height:180px">
        </div>
        <div class="card" style="margin-left: 10px;">
          <img  src="https://image.tmdb.org/t/p/w780/fev8UFNFFYsD5q7AcYS8LyTzqwl.jpg" style="height:180px">
        </div>
        <div class="card" style="margin-left: 10px;">
          <img class="card-img-top" src="https://image.tmdb.org/t/p/w780/fev8UFNFFYsD5q7AcYS8LyTzqwl.jpg" alt="Card image cap" style="height:180px">
        </div>
        <div class="card" style="margin-left: 10px;">
            <img class="card-img-top" src="https://image.tmdb.org/t/p/w780/fev8UFNFFYsD5q7AcYS8LyTzqwl.jpg" alt="Card image cap" style="height:180px">
          </div>
          <div class="card" style="margin-left: 10px;">
            <img class="card-img-top" src="https://image.tmdb.org/t/p/w780/fev8UFNFFYsD5q7AcYS8LyTzqwl.jpg" alt="Card image cap" style="height:180px">
          </div>
          <div class="card" style="margin-left: 10px;">
            <img class="card-img-top" src="https://image.tmdb.org/t/p/w780/fev8UFNFFYsD5q7AcYS8LyTzqwl.jpg" alt="Card image cap" style="height:180px">
          </div>
      </div>
  </ng-template>
  <ng-template ngbSlide>
    <div class="card-group">
        <div class="card" style="margin-left:10px;border-radius: 0px;">
          <img class="card-img-top" src="https://image.tmdb.org/t/p/w780/fev8UFNFFYsD5q7AcYS8LyTzqwl.jpg" alt="Card image cap" style="width:100%;height:180px">
        </div>
        <div class="card" style="margin-left: 10px;">
          <img  src="https://image.tmdb.org/t/p/w780/fev8UFNFFYsD5q7AcYS8LyTzqwl.jpg" style="height:180px">
        </div>
        <div class="card" style="margin-left: 10px;">
          <img class="card-img-top" src="https://image.tmdb.org/t/p/w780/fev8UFNFFYsD5q7AcYS8LyTzqwl.jpg" alt="Card image cap" style="height:180px">
        </div>
        <div class="card" style="margin-left: 10px;">
            <img class="card-img-top" src="https://image.tmdb.org/t/p/w780/fev8UFNFFYsD5q7AcYS8LyTzqwl.jpg" alt="Card image cap" style="height:180px">
          </div>
          <div class="card" style="margin-left: 10px;">
            <img class="card-img-top" src="https://image.tmdb.org/t/p/w780/fev8UFNFFYsD5q7AcYS8LyTzqwl.jpg" alt="Card image cap" style="height:180px">
          </div>
          <div class="card" style="margin-left: 10px;">
            <img class="card-img-top" src="https://image.tmdb.org/t/p/w780/fev8UFNFFYsD5q7AcYS8LyTzqwl.jpg" alt="Card image cap" style="height:180px">
          </div>
      </div>
  </ng-template>
  <ng-template ngbSlide>
    <div class="card-group">
        <div class="card" style="margin-left:10px;border-radius: 0px;">
          <img class="card-img-top" src="https://image.tmdb.org/t/p/w780/fev8UFNFFYsD5q7AcYS8LyTzqwl.jpg" alt="Card image cap" style="width:100%;height:180px">
        </div>
        <div class="card" style="margin-left: 10px;">
          <img  src="https://image.tmdb.org/t/p/w780/fev8UFNFFYsD5q7AcYS8LyTzqwl.jpg" style="height:180px">
        </div>
        <div class="card" style="margin-left: 10px;background-color: rgb(1, 1, 63);">
        </div>
        <div class="card" style="margin-left: 10px;background-color: rgb(1, 1, 63);">
          </div>
          <div class="card" style="margin-left: 10px;background-color: rgb(1, 1, 63);">
           </div>
          <div class="card" style="margin-left: 10px;background-color: rgb(1, 1, 63);">
          </div>
      </div>
  </ng-template>
</ngb-carousel>


<div style="color: white;font-size: 30px;margin-left:15%;margin-top:5%"> Popular TV Shows</div>
<ngb-carousel style="margin-left: 15%;width: 70%;margin-right: 15%;">
<ng-template ngbSlide>
    <div class="card-group">
        <div class="card" style="margin-left:10px;border-radius: 0px;">
          <img class="card-img-top" src="https://image.tmdb.org/t/p/w780/fev8UFNFFYsD5q7AcYS8LyTzqwl.jpg" alt="Card image cap" style="width:100%;height:180px">
        </div>
        <div class="card" style="margin-left: 10px;">
          <img  src="https://image.tmdb.org/t/p/w780/fev8UFNFFYsD5q7AcYS8LyTzqwl.jpg" style="height:180px">
        </div>
        <div class="card" style="margin-left: 10px;">
          <img class="card-img-top" src="https://image.tmdb.org/t/p/w780/fev8UFNFFYsD5q7AcYS8LyTzqwl.jpg" alt="Card image cap" style="height:180px">
        </div>
        <div class="card" style="margin-left: 10px;">
            <img class="card-img-top" src="https://image.tmdb.org/t/p/w780/fev8UFNFFYsD5q7AcYS8LyTzqwl.jpg" alt="Card image cap" style="height:180px">
          </div>
          <div class="card" style="margin-left: 10px;">
            <img class="card-img-top" src="https://image.tmdb.org/t/p/w780/fev8UFNFFYsD5q7AcYS8LyTzqwl.jpg" alt="Card image cap" style="height:180px">
          </div>
          <div class="card" style="margin-left: 10px;">
            <img class="card-img-top" src="https://image.tmdb.org/t/p/w780/fev8UFNFFYsD5q7AcYS8LyTzqwl.jpg" alt="Card image cap" style="height:180px">
          </div>
      </div>
  </ng-template>
  
  <ng-template ngbSlide>
    <div class="card-group">
        <div class="card" style="margin-left:10px;border-radius: 0px;">
          <img class="card-img-top" src="https://image.tmdb.org/t/p/w780/fev8UFNFFYsD5q7AcYS8LyTzqwl.jpg" alt="Card image cap" style="width:100%;height:180px">
        </div>
        <div class="card" style="margin-left: 10px;">
          <img  src="https://image.tmdb.org/t/p/w780/fev8UFNFFYsD5q7AcYS8LyTzqwl.jpg" style="height:180px">
        </div>
        <div class="card" style="margin-left: 10px;">
          <img class="card-img-top" src="https://image.tmdb.org/t/p/w780/fev8UFNFFYsD5q7AcYS8LyTzqwl.jpg" alt="Card image cap" style="height:180px">
        </div>
        <div class="card" style="margin-left: 10px;">
            <img class="card-img-top" src="https://image.tmdb.org/t/p/w780/fev8UFNFFYsD5q7AcYS8LyTzqwl.jpg" alt="Card image cap" style="height:180px">
          </div>
          <div class="card" style="margin-left: 10px;">
            <img class="card-img-top" src="https://image.tmdb.org/t/p/w780/fev8UFNFFYsD5q7AcYS8LyTzqwl.jpg" alt="Card image cap" style="height:180px">
          </div>
          <div class="card" style="margin-left: 10px;">
            <img class="card-img-top" src="https://image.tmdb.org/t/p/w780/fev8UFNFFYsD5q7AcYS8LyTzqwl.jpg" alt="Card image cap" style="height:180px">
          </div>
      </div>
  </ng-template>
  <ng-template ngbSlide>
    <div class="card-group">
        <div class="card" style="margin-left:10px;border-radius: 0px;">
          <img class="card-img-top" src="https://image.tmdb.org/t/p/w780/fev8UFNFFYsD5q7AcYS8LyTzqwl.jpg" alt="Card image cap" style="width:100%;height:180px">
        </div>
        <div class="card" style="margin-left: 10px;">
          <img  src="https://image.tmdb.org/t/p/w780/fev8UFNFFYsD5q7AcYS8LyTzqwl.jpg" style="height:180px">
        </div>
        <div class="card" style="margin-left: 10px;">
          <img class="card-img-top" src="https://image.tmdb.org/t/p/w780/fev8UFNFFYsD5q7AcYS8LyTzqwl.jpg" alt="Card image cap" style="height:180px">
        </div>
        <div class="card" style="margin-left: 10px;">
            <img class="card-img-top" src="https://image.tmdb.org/t/p/w780/fev8UFNFFYsD5q7AcYS8LyTzqwl.jpg" alt="Card image cap" style="height:180px">
          </div>
          <div class="card" style="margin-left: 10px;">
            <img class="card-img-top" src="https://image.tmdb.org/t/p/w780/fev8UFNFFYsD5q7AcYS8LyTzqwl.jpg" alt="Card image cap" style="height:180px">
          </div>
          <div class="card" style="margin-left: 10px;">
            <img class="card-img-top" src="https://image.tmdb.org/t/p/w780/fev8UFNFFYsD5q7AcYS8LyTzqwl.jpg" alt="Card image cap" style="height:180px">
          </div>
      </div>
  </ng-template>
  <ng-template ngbSlide>
    <div class="card-group">
        <div class="card" style="margin-left:10px;border-radius: 0px;">
          <img class="card-img-top" src="https://image.tmdb.org/t/p/w780/fev8UFNFFYsD5q7AcYS8LyTzqwl.jpg" alt="Card image cap" style="width:100%;height:180px">
        </div>
        <div class="card" style="margin-left: 10px;">
          <img  src="https://image.tmdb.org/t/p/w780/fev8UFNFFYsD5q7AcYS8LyTzqwl.jpg" style="height:180px">
        </div>
        <div class="card" style="margin-left: 10px;background-color: rgb(1, 1, 63);">
        </div>
        <div class="card" style="margin-left: 10px;background-color: rgb(1, 1, 63);">
          </div>
          <div class="card" style="margin-left: 10px;background-color: rgb(1, 1, 63);">
           </div>
          <div class="card" style="margin-left: 10px;background-color: rgb(1, 1, 63);">
          </div>
      </div>
  </ng-template>
</ngb-carousel>


<div style="color: white;font-size: 30px;margin-left:15%;margin-top:5%">Top Rated TV shows</div>
<ngb-carousel style="margin-left: 15%;width: 70%;margin-right: 15%;">
<ng-template ngbSlide>
    <div class="card-group">
        <div class="card" style="margin-left:10px;border-radius: 0px;">
          <img class="card-img-top" src="https://image.tmdb.org/t/p/w780/fev8UFNFFYsD5q7AcYS8LyTzqwl.jpg" alt="Card image cap" style="width:100%;height:180px">
        </div>
        <div class="card" style="margin-left: 10px;">
          <img  src="https://image.tmdb.org/t/p/w780/fev8UFNFFYsD5q7AcYS8LyTzqwl.jpg" style="height:180px">
        </div>
        <div class="card" style="margin-left: 10px;">
          <img class="card-img-top" src="https://image.tmdb.org/t/p/w780/fev8UFNFFYsD5q7AcYS8LyTzqwl.jpg" alt="Card image cap" style="height:180px">
        </div>
        <div class="card" style="margin-left: 10px;">
            <img class="card-img-top" src="https://image.tmdb.org/t/p/w780/fev8UFNFFYsD5q7AcYS8LyTzqwl.jpg" alt="Card image cap" style="height:180px">
          </div>
          <div class="card" style="margin-left: 10px;">
            <img class="card-img-top" src="https://image.tmdb.org/t/p/w780/fev8UFNFFYsD5q7AcYS8LyTzqwl.jpg" alt="Card image cap" style="height:180px">
          </div>
          <div class="card" style="margin-left: 10px;">
            <img class="card-img-top" src="https://image.tmdb.org/t/p/w780/fev8UFNFFYsD5q7AcYS8LyTzqwl.jpg" alt="Card image cap" style="height:180px">
          </div>
      </div>
  </ng-template>
  
  <ng-template ngbSlide>
    <div class="card-group">
        <div class="card" style="margin-left:10px;border-radius: 0px;">
          <img class="card-img-top" src="https://image.tmdb.org/t/p/w780/fev8UFNFFYsD5q7AcYS8LyTzqwl.jpg" alt="Card image cap" style="width:100%;height:180px">
        </div>
        <div class="card" style="margin-left: 10px;">
          <img  src="https://image.tmdb.org/t/p/w780/fev8UFNFFYsD5q7AcYS8LyTzqwl.jpg" style="height:180px">
        </div>
        <div class="card" style="margin-left: 10px;">
          <img class="card-img-top" src="https://image.tmdb.org/t/p/w780/fev8UFNFFYsD5q7AcYS8LyTzqwl.jpg" alt="Card image cap" style="height:180px">
        </div>
        <div class="card" style="margin-left: 10px;">
            <img class="card-img-top" src="https://image.tmdb.org/t/p/w780/fev8UFNFFYsD5q7AcYS8LyTzqwl.jpg" alt="Card image cap" style="height:180px">
          </div>
          <div class="card" style="margin-left: 10px;">
            <img class="card-img-top" src="https://image.tmdb.org/t/p/w780/fev8UFNFFYsD5q7AcYS8LyTzqwl.jpg" alt="Card image cap" style="height:180px">
          </div>
          <div class="card" style="margin-left: 10px;">
            <img class="card-img-top" src="https://image.tmdb.org/t/p/w780/fev8UFNFFYsD5q7AcYS8LyTzqwl.jpg" alt="Card image cap" style="height:180px">
          </div>
      </div>
  </ng-template>
  <ng-template ngbSlide>
    <div class="card-group">
        <div class="card" style="margin-left:10px;border-radius: 0px;">
          <img class="card-img-top" src="https://image.tmdb.org/t/p/w780/fev8UFNFFYsD5q7AcYS8LyTzqwl.jpg" alt="Card image cap" style="width:100%;height:180px">
        </div>
        <div class="card" style="margin-left: 10px;">
          <img  src="https://image.tmdb.org/t/p/w780/fev8UFNFFYsD5q7AcYS8LyTzqwl.jpg" style="height:180px">
        </div>
        <div class="card" style="margin-left: 10px;">
          <img class="card-img-top" src="https://image.tmdb.org/t/p/w780/fev8UFNFFYsD5q7AcYS8LyTzqwl.jpg" alt="Card image cap" style="height:180px">
        </div>
        <div class="card" style="margin-left: 10px;">
            <img class="card-img-top" src="https://image.tmdb.org/t/p/w780/fev8UFNFFYsD5q7AcYS8LyTzqwl.jpg" alt="Card image cap" style="height:180px">
          </div>
          <div class="card" style="margin-left: 10px;">
            <img class="card-img-top" src="https://image.tmdb.org/t/p/w780/fev8UFNFFYsD5q7AcYS8LyTzqwl.jpg" alt="Card image cap" style="height:180px">
          </div>
          <div class="card" style="margin-left: 10px;">
            <img class="card-img-top" src="https://image.tmdb.org/t/p/w780/fev8UFNFFYsD5q7AcYS8LyTzqwl.jpg" alt="Card image cap" style="height:180px">
          </div>
      </div>
  </ng-template>
  <ng-template ngbSlide>
    <div class="card-group">
        <div class="card" style="margin-left:10px;border-radius: 0px;">
          <img class="card-img-top" src="https://image.tmdb.org/t/p/w780/fev8UFNFFYsD5q7AcYS8LyTzqwl.jpg" alt="Card image cap" style="width:100%;height:180px">
        </div>
        <div class="card" style="margin-left: 10px;">
          <img  src="https://image.tmdb.org/t/p/w780/fev8UFNFFYsD5q7AcYS8LyTzqwl.jpg" style="height:180px">
        </div>
        <div class="card" style="margin-left: 10px;background-color: rgb(1, 1, 63);">
        </div>
        <div class="card" style="margin-left: 10px;background-color: rgb(1, 1, 63);">
          </div>
          <div class="card" style="margin-left: 10px;background-color: rgb(1, 1, 63);">
           </div>
          <div class="card" style="margin-left: 10px;background-color: rgb(1, 1, 63);">
          </div>
      </div>
  </ng-template>
</ngb-carousel>


<div style="color: white;font-size: 30px;margin-left:15%;margin-top:5%"> Trending TV Sho</div>
<ngb-carousel style="margin-left: 15%;width: 70%;margin-right: 15%;">
<ng-template ngbSlide>
    <div class="card-group">
        <div class="card" style="margin-left:10px;border-radius: 0px;">
          <img class="card-img-top" src="https://image.tmdb.org/t/p/w780/fev8UFNFFYsD5q7AcYS8LyTzqwl.jpg" alt="Card image cap" style="width:100%;height:180px">
        </div>
        <div class="card" style="margin-left: 10px;">
          <img  src="https://image.tmdb.org/t/p/w780/fev8UFNFFYsD5q7AcYS8LyTzqwl.jpg" style="height:180px">
        </div>
        <div class="card" style="margin-left: 10px;">
          <img class="card-img-top" src="https://image.tmdb.org/t/p/w780/fev8UFNFFYsD5q7AcYS8LyTzqwl.jpg" alt="Card image cap" style="height:180px">
        </div>
        <div class="card" style="margin-left: 10px;">
            <img class="card-img-top" src="https://image.tmdb.org/t/p/w780/fev8UFNFFYsD5q7AcYS8LyTzqwl.jpg" alt="Card image cap" style="height:180px">
          </div>
          <div class="card" style="margin-left: 10px;">
            <img class="card-img-top" src="https://image.tmdb.org/t/p/w780/fev8UFNFFYsD5q7AcYS8LyTzqwl.jpg" alt="Card image cap" style="height:180px">
          </div>
          <div class="card" style="margin-left: 10px;">
            <img class="card-img-top" src="https://image.tmdb.org/t/p/w780/fev8UFNFFYsD5q7AcYS8LyTzqwl.jpg" alt="Card image cap" style="height:180px">
          </div>
      </div>
  </ng-template>
  
  <ng-template ngbSlide>
    <div class="card-group">
        <div class="card" style="margin-left:10px;border-radius: 0px;">
          <img class="card-img-top" src="https://image.tmdb.org/t/p/w780/fev8UFNFFYsD5q7AcYS8LyTzqwl.jpg" alt="Card image cap" style="width:100%;height:180px">
        </div>
        <div class="card" style="margin-left: 10px;">
          <img  src="https://image.tmdb.org/t/p/w780/fev8UFNFFYsD5q7AcYS8LyTzqwl.jpg" style="height:180px">
        </div>
        <div class="card" style="margin-left: 10px;">
          <img class="card-img-top" src="https://image.tmdb.org/t/p/w780/fev8UFNFFYsD5q7AcYS8LyTzqwl.jpg" alt="Card image cap" style="height:180px">
        </div>
        <div class="card" style="margin-left: 10px;">
            <img class="card-img-top" src="https://image.tmdb.org/t/p/w780/fev8UFNFFYsD5q7AcYS8LyTzqwl.jpg" alt="Card image cap" style="height:180px">
          </div>
          <div class="card" style="margin-left: 10px;">
            <img class="card-img-top" src="https://image.tmdb.org/t/p/w780/fev8UFNFFYsD5q7AcYS8LyTzqwl.jpg" alt="Card image cap" style="height:180px">
          </div>
          <div class="card" style="margin-left: 10px;">
            <img class="card-img-top" src="https://image.tmdb.org/t/p/w780/fev8UFNFFYsD5q7AcYS8LyTzqwl.jpg" alt="Card image cap" style="height:180px">
          </div>
      </div>
  </ng-template>
  <ng-template ngbSlide>
    <div class="card-group">
        <div class="card" style="margin-left:10px;border-radius: 0px;">
          <img class="card-img-top" src="https://image.tmdb.org/t/p/w780/fev8UFNFFYsD5q7AcYS8LyTzqwl.jpg" alt="Card image cap" style="width:100%;height:180px">
        </div>
        <div class="card" style="margin-left: 10px;">
          <img  src="https://image.tmdb.org/t/p/w780/fev8UFNFFYsD5q7AcYS8LyTzqwl.jpg" style="height:180px">
        </div>
        <div class="card" style="margin-left: 10px;">
          <img class="card-img-top" src="https://image.tmdb.org/t/p/w780/fev8UFNFFYsD5q7AcYS8LyTzqwl.jpg" alt="Card image cap" style="height:180px">
        </div>
        <div class="card" style="margin-left: 10px;">
            <img class="card-img-top" src="https://image.tmdb.org/t/p/w780/fev8UFNFFYsD5q7AcYS8LyTzqwl.jpg" alt="Card image cap" style="height:180px">
          </div>
          <div class="card" style="margin-left: 10px;">
            <img class="card-img-top" src="https://image.tmdb.org/t/p/w780/fev8UFNFFYsD5q7AcYS8LyTzqwl.jpg" alt="Card image cap" style="height:180px">
          </div>
          <div class="card" style="margin-left: 10px;">
            <img class="card-img-top" src="https://image.tmdb.org/t/p/w780/fev8UFNFFYsD5q7AcYS8LyTzqwl.jpg" alt="Card image cap" style="height:180px">
          </div>
      </div>
  </ng-template>
  <ng-template ngbSlide>
    <div class="card-group">
        <div class="card" style="margin-left:10px;border-radius: 0px;">
          <img class="card-img-top" src="https://image.tmdb.org/t/p/w780/fev8UFNFFYsD5q7AcYS8LyTzqwl.jpg" alt="Card image cap" style="width:100%;height:180px">
        </div>
        <div class="card" style="margin-left: 10px;">
          <img  src="https://image.tmdb.org/t/p/w780/fev8UFNFFYsD5q7AcYS8LyTzqwl.jpg" style="height:180px">
        </div>
        <div class="card" style="margin-left: 10px;background-color: rgb(1, 1, 63);">
        </div>
        <div class="card" style="margin-left: 10px;background-color: rgb(1, 1, 63);">
          </div>
          <div class="card" style="margin-left: 10px;background-color: rgb(1, 1, 63);">
           </div>
          <div class="card" style="margin-left: 10px;background-color: rgb(1, 1, 63);">
          </div>
      </div>
  </ng-template>
</ngb-carousel>